---
title: Island94
pageable: true
per_page: 10
---

%section.articles-list
  .row
    .medium-6.columns
      %h2 Popular articles
      %ol
        %li= link_to "How to write a cover letter for a job application"
        %li= link_to  "Setting up octave and gnuplot on osx"
        %li= link_to  "Stages of team development"
        %li= link_to  "Sdding class to wordpress linked images"
        %li= link_to  "A gentle conceptual introduction to node js"
    .medium-6.columns
      %h2 Newest articles
      %ol
        - blog.articles[0...5].each do |article|
          %li
            %a{:href => article.url}
              = article.title
